@font-face {
  font-family: 'r-flex';
  src: url('./fonts/R-FLEX-REGULAR.otf') format('opentype');
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'r-flex';
  src: url('./fonts/R-FLEX-BOLD.otf') format('opentype');
  font-display: swap;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
